/* font */
@font-face {
    font-family: "poppins-reguler";
    src: url(../FONTS/poppins-regular-webfont.woff);
}
@media (max-width: 768px) {
    body {
        font-size: 20px;
        /* Adjust the font size for smaller screens */
        line-height: 28px;
        /* Adjust the line height for smaller screens */
    }

    .top-bar .judul {
        font-size: 30px;
        /* Adjust the title font size for smaller screens */
        letter-spacing: 4px;
        /* Adjust the title letter spacing for smaller screens */
    }

    h1 {
        font-size: 40px;
        /* Adjust the heading font size for smaller screens */
        margin: 80px auto 15px auto;
        /* Adjust the heading margin for smaller screens */
    }
}
/* styling */
body {
    font-size: 28px;
    line-height: 36px;
    font-family: "poppins-reguler";
    background-color: #ffffff;
    
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #acafb4;
    overflow: hidden;
    z-index: -10;
}

.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #9a9da2;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}

.undefined .background li:nth-child(0) {
    animation-delay: 0s;
    left: 14vw;
    top: 77vh;
    border-color: #bdc0c6;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 94vw;
    top: 97vh;
    border-color: #bdc0c6;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 71vw;
    top: 66vh;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 43vw;
    top: 68vh;
    border-color: #bdc0c6;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 50vw;
    top: 26vh;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 22vw;
    top: 44vh;
}

.background li:nth-child(6) {
    animation-delay: 12s;
    left: 49vw;
    top: 97vh;
    border-color: #bdc0c6;
}

.background li:nth-child(7) {
    animation-delay: 14s;
    left: 75vw;
    top: 81vh;
    border-color: #bdc0c6;
}

.background li:nth-child(8) {
    animation-delay: 16s;
    left: 68vw;
    top: 73vh;
}

.background li:nth-child(9) {
    animation-delay: 18s;
    left: 26vw;
    top: 30vh;
    border-color: #bdc0c6;
}

.background li:nth-child(10) {
    animation-delay: 20s;
    left: 38vw;
    top: 75vh;
    border-color: #bdc0c6;
}

.background li:nth-child(11) {
    animation-delay: 22s;
    left: 31vw;
    top: 88vh;
    border-color: #bdc0c6;
}

.background li:nth-child(12) {
    animation-delay: 24s;
    left: 42vw;
    top: 33vh;
    border-color: #bdc0c6;
}

.background li:nth-child(13) {
    animation-delay: 26s;
    left: 57vw;
    top: 51vh;
}

.background li:nth-child(14) {
    animation-delay: 28s;
    left: 47vw;
    top: 14vh;
    border-color: #bdc0c6;
}

.background li:nth-child(15) {
    animation-delay: 30s;
    left: 19vw;
    top: 91vh;
    border-color: #bdc0c6;
}

.background li:nth-child(16) {
    animation-delay: 32s;
    left: 88vw;
    top: 8vh;
    border-color: #bdc0c6;
}

.background li:nth-child(17) {
    animation-delay: 34s;
    left: 74vw;
    top: 16vh;
}

.background li:nth-child(18) {
    animation-delay: 36s;
    left: 82vw;
    top: 58vh;
    border-color: #bdc0c6;
}

.background li:nth-child(19) {
    animation-delay: 38s;
    left: 87vw;
    top: 84vh;
}

.background li:nth-child(20) {
    animation-delay: 40s;
    left: 4vw;
    top: 0vh;
    border-color: #bdc0c6;
}

.background li:nth-child(21) {
    animation-delay: 42s;
    left: 66vw;
    top: 19vh;
    border-color: #bdc0c6;
}

.background li:nth-child(22) {
    animation-delay: 44s;
    left: 6vw;
    top: 2vh;
}

.background li:nth-child(23) {
    animation-delay: 46s;
    left: 64vw;
    top: 70vh;
    border-color: #bdc0c6;
}

.background li:nth-child(24) {
    animation-delay: 48s;
    left: 84vw;
    top: 41vh;
}

.background li:nth-child(25) {
    animation-delay: 50s;
    left: 62vw;
    top: 47vh;
    border-color: #bdc0c6;
}

.background li:nth-child(26) {
    animation-delay: 52s;
    left: 90vw;
    top: 94vh;
}

.background li:nth-child(27) {
    animation-delay: 54s;
    left: 12vw;
    top: 55vh;
}

.background li:nth-child(28) {
    animation-delay: 56s;
    left: 57vw;
    top: 63vh;
    border-color: #bdc0c6;
}

.background li:nth-child(29) {
    animation-delay: 58s;
    left: 54vw;
    top: 24vh;
    border-color: #bdc0c6;
}

.background li:nth-child(30) {
    animation-delay: 60s;
    left: 0vw;
    top: 47vh;
    border-color: #bdc0c6;
}

.background li:nth-child(31) {
    animation-delay: 62s;
    left: 28vw;
    top: 38vh;
    border-color: #bdc0c6;
}

.background li:nth-child(32) {
    animation-delay: 64s;
    left: 79vw;
    top: 21vh;
}

.background li:nth-child(33) {
    animation-delay: 66s;
    left: 98vw;
    top: 36vh;
    border-color: #bdc0c6;
}

.background li:nth-child(34) {
    animation-delay: 68s;
    left: 33vw;
    top: 29vh;
}

.background li:nth-child(35) {
    animation-delay: 70s;
    left: 97vw;
    top: 53vh;
    border-color: #bdc0c6;
}

.background li:nth-child(36) {
    animation-delay: 72s;
    left: 9vw;
    top: 86vh;
}

.background li:nth-child(37) {
    animation-delay: 74s;
    left: 15vw;
    top: 7vh;
    border-color: #bdc0c6;
}

.background li:nth-child(38) {
    animation-delay: 76s;
    left: 35vw;
    top: 11vh;
    border-color: #bdc0c6;
}

.background li:nth-child(39) {
    animation-delay: 78s;
    left: 20vw;
    top: 60vh;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-shadow: 0px 11px 10px -3px rgba(0, 0, 0, 0.9);
}
.top-bar .judul {
    text-align: center;
    margin-left: 10px;
    line-height: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Black Ops One', cursive;
    letter-spacing: 7px;
    color: #ffffff;
}
.top-bar .judul span {
    color: #ffae00;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: #415a5a;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Black Ops One', cursive;
    margin: 130px auto 15px auto;
    animation: bebas 2s  forwards;
    opacity: 0;

}
.data {
    text-align: center;
}
.mountain {
    background-color: #ffffff;
    width: 130px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px inset;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden;
    display: block;
    font-weight: bold;
    transition: 1s;
    animation: bebas 2s forwards;
    opacity: 0;
}
.mountain:hover {
    background-color: #ffae00;
    scale: 1.2;
}
a {
    text-decoration: none;
    font-weight: bold;
}
.container {
    width: 630px;
    padding: 30px;
    margin: auto;
    overflow: auto;
}
hr {
    margin-left: 10px;
    margin-right: 10px;
    animation: bebas 2s es forwards;
}

.galeri li {
    width: 180px;
    height: 120px;
    overflow: hidden;
    border: 5px solid rgb(255, 255, 255);
    float: left;
    margin: 10px 10px 20px 10px;
    position: relative;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    transition: 1s;
    animation: bebas 2s forwards;
    opacity: 0;
}
.galeri li:hover {
    scale: 1.15;
}
.galeri li span {
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 180px;
    height: 120px;
    background-color: rgba(200, 200, 200, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transition: 2s;

}

.galeri li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.overlay {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1;
    transition: 0.5s;
    text-align: center;
    padding: 20px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.9);
}
.content {
    width: 950px;
    height: 650px;
    background: rgba(255, 255, 255, 0.7);
    margin: auto;
    position: relative;
}

.overlay img {
    max-height: 100%;
    border-radius: 0 !important;
    float: left;
    box-shadow: 7px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.overlay .isi {
    width: 370px;
    height: 580px;
    float: right;
    box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-left: 2px solid rgb(214, 214, 214);
    padding: 35px;
    text-align: center;
}
.isi h4 {
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 5px;
}
.overlay .isi P {
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}
.overlay .close {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    top: 0;
    padding: 1px 4px 1px 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

/* naviasi */
.back {
    position: absolute;
    left: 10PX;
    top: 50%;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 5;
    box-shadow: 0 0 10px;
}
.next {
    position: absolute;
    top: 50%;
    left: 48%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 10px;
}

/* animasi */
/* .overlay:target img {
    animation: zoomDanfade 2s;
}

.overlay:target .isi {
    animation: zoomDanfade 2s;
} */
.overlay:target .content {
    animation: zoomDanfade 2s;
}
.overlay:target .back {
    animation: zoomDanfade 2s;
}
.overlay:target .next {
    animation: zoomDanfade 2s;
}

@keyframes zoomDanfade {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
i {
    font-size: 50px;
    color: #ffffff;
    margin-right: 10px;
}
i:hover {
    color: #ffae00;
}

.footer {
    width: 440px;
    height: 70px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    line-height: 70px;
}
.open,
.open-2 {
    width: 50%;
    background-color: #444444;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    font-family: 'Black Ops One', cursive;
    color: #ffae00;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
.open {
    animation: open 5s forwards;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.7) !important;
    text-align: right;
    line-height: 650px;
    font-size: 100px;
    padding-right: 35px;
}
@keyframes open {
    0% {
        translate: -10px;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        translate: -700px;
        opacity: 0;
    }
}
.open-2 {
    width: 50%;
    background-color: #444444;
    display: inline-block;
    right: 0;
    animation: zoom 6s forwards;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.7) !important;
    text-align: left;
    line-height: 650px;
    font-size: 100px;
    padding-left: 25px;
}
@keyframes zoom {
    0% {
        translate: 10px;
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        translate: 700px;
        opacity: 0;
    }
}
@keyframes bebas {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}
